<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="tennisCoach" class="com.example.coachapp.TennisCoach" init-method="loadSchedulesFromFile">
    </bean>

    <bean id="golfCoach" class="com.example.coachapp.GolfCoach">
        <property name="schedule" value="Golf Coach: Practice golf for 2 hours"/>
    </bean>

    <bean id="footballCoach" class="com.example.coachapp.FootballCoach">
        <property name="schedule" value="Football Coach: Practice football for 3 hours"/>
    </bean>

    <bean id="player" class="com.example.coachapp.Player">
        <constructor-arg ref="tennisCoach"/>

        <property name="golfCoach" ref="golfCoach"/>

        <property name="footballCoach" ref="footballCoach"/>
    </bean>

</beans>
